ENVIRONMENT=DEVELOPMENT# Csn change to STAGING and PRODUCTION
PORT=8081
AUTH0_ISSUER_URL=# Insert Auth0 issuer URL
AUTH0_AUDIENCE=# Insert your Auth0 audience
MONGO_URI=mongodb://root:rootpassword@localhost:27017
MONGO_DB_NAME=# Add database name