<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <img class="avatar" src="{{ .picture }}"/>
        <h2>Welcome {{.nickname}}</h2>
    </div>

    <form action="/auth/logout" method="GET" id="logout">
        <input type="submit" value="Log out"/>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="public/js/js.cookie.min.js"></script>
    <script src="public/js/user.js"></script>
</body>
</html>